@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Source+Code+Pro:wght@400;600&display=swap');


*,*::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #eee;
    padding-inline: 20vw;
    // font-family: 'Playfair Display', serif;
    // font-family: 'Source Code Pro', monospace;
}

p{
    padding-block: 1rem;
}


// Utilities 
.text-end{
    text-align: end;
}
.text-center{
    text-align: center;
}
.bold{
    font-weight: bold;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between{
    justify-content: space-between;
}

.subrayado{
    text-decoration: underline;
}

// Padding 
.p-2{
    padding: 2rem;
}
.pb-3{
    padding-bottom: 3rem;
}

.pt-2{
    padding-top: 2rem;
}

